header{
    background-color: lightblue;
    width: 100%;
}

footer{
    background-color: lightblue;
}

/* Vista Mobile */

@media screen and (max-width: 768px){
    .gridHeader{
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-areas: 
        "logo favoritos"
        "buscador buscador"
        "localidades localidades";
        grid-template-rows: 20% 10% 50%;
    }

    .gridLocalidades{
        display: grid;
        justify-content: center;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "localidadEsco localidadCamp"
        "localidadZara localidadSanp";
        grid-template-rows: 50% 50%;
        margin: 10%;
    }
}

/* Vista Intermedia */

@media screen and (max-width: 1023px) and (min-width: 769px){
    
}
    
/* Vista Desktop */

@media screen and (min-width: 1024px){

}

.btnLocalidad{
    background-color: #58a18f;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    padding: 10%;
    margin: 10%;
}

header{grid-area: header;}
.logo{grid-area: logo; margin: 10%;}
.buscador{grid-area: buscador; margin: 20%;}
.favoritos{grid-area: favoritos; display: flex; justify-self: center; margin: 20%;}
.localidades{grid-area: localidades;}
.localidadEsco{grid-area: localidadEsco;}
.localidadCamp{grid-area: localidadCamp;}
.localidadZara{grid-area: localidadZara;}
.localidadSanp{grid-area: localidadSanp;}
main{grid-area: main;}
footer{grid-area: footer;}