header{
    background-color: lightblue;
}

footer{
    background-color: lightblue;
}

/* Vista Mobile */

@media screen and (max-width: 768px){
    .gridMobile{
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: 
        "header"
        "main"
        "footer";
        grid-template-rows: auto auto auto;
    }

    .positionNav{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "primerLink segundoLink"
        "tercerLink cuartoLink";
    }

    .gridProdPrincipales{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "tituloProductos tituloProductos"
        "primerProducto segundoProducto"
        "tercerProducto cuartoProducto"
        "quintoProducto sextoProducto";
        grid-template-rows: auto auto auto auto;
    }

    .productos{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "tituloProductos tituloProductos"
        "primerProducto segundoProducto"
        "tercerProducto cuartoProducto"
        "quintoProducto sextoProducto";
        grid-template-rows: auto auto auto;
    }

    .redesDesign{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: gray;
        padding: 10px 20px;
        border: 2px solid black;
        margin: 2% 20%;
    }

    .relativeNavDesign:hover{
        background-color: rgb(149, 167, 172);
    }

    .banner:hover{
        box-shadow: inset 100px 100px 100px 100px rgb(51, 49, 49);
    }

}

/* Vista Intermedia */

@media screen and (max-width: 1023px) and (min-width: 769px){
    
    .gridHeader{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "banner relatives";
        grid-template-rows: auto;
    }

    .positionNav{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "primerLink segundoLink"
        "tercerLink cuartoLink";
    }

    .gridMain{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "intro prodPrincipales";
        grid-template-rows: auto;
    }

    
    .gridProdPrincipales{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: 
        "tituloProductos tituloProductos tituloProductos tituloProductos"
        "primerProducto primerProducto segundoProducto segundoProducto"
        "tercerProducto cuartoProducto quintoProducto sextoProducto";
        grid-template-rows: auto auto auto;
    }
    
    .gridFooter{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "redes marca"
        "aviso aviso";
        grid-template-rows: auto auto;
    }

    .relativeNavDesign:hover{
        background-color: rgb(149, 167, 172);
    }

    .overflow{
        overflow: auto;
        height: 50%;
    }

    .productos{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas: 
        "tituloProductos tituloProductos tituloProductos"
        "primerProducto segundoProducto tercerProducto"
        "cuartoProducto quintoProducto sextoProducto";
        grid-template-rows: auto auto auto;
    }
    
    .redesDesign{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: gray;
        padding: 10px 20px;
        border: 2px solid black;
        margin: 2% 20%;
    }
    
}
    
/* Vista Desktop */

@media screen and (min-width: 1024px){

    .gridHeader{
        display: grid;
        grid-template-columns: 40% 30% 30%;
        grid-template-areas:
        "logo buscador favoritos"
        "localidades localidades localidades";
        grid-template-rows: auto;
    }

    .positionNav{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        "primerLink segundoLink"
        "tercerLink cuartoLink";
    }

    .gridMain{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "intro prodPrincipales";
        grid-template-rows: auto;
    }

    .gridProdPrincipales{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-areas: 
        "";
        grid-template-rows: auto auto auto;
    }

    .gridFooter{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas:
        "redes marca"
        "aviso aviso";
        grid-template-rows: auto auto;
    }

    .relativeNavDesign:hover{
        background-color: rgb(149, 167, 172);
    }

    .banner:hover{
        box-shadow: inset 100px 100px 100px 100px rgb(51, 49, 49);
    }

    .productos{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas: 
        "";
        grid-template-rows: auto auto auto;
    }
    
    .redesDesign{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: gray;
        padding: 10px 20px;
        border: 2px solid black;
        margin: 2% 20%;
    }

}

header{grid-area: header;}
.logo{grid-area: logo;}
.buscador{grid-area: buscador;}
.favoritos{grid-area: favoritos;}
.localidades{grid-area: localidades; display: flex; justify-self: center;}
main{grid-area: main;}
footer{grid-area: footer;}